.error-text {
    color: red;
}

.top-bottom-indents {
    margin-top: 20px;
    margin-bottom: 20px;
}

.languages {
    .custom-radio {
        .custom-control-label {
            cursor: pointer;
        }
    }

    .repository {
        overflow: auto;
    }

    .show-more {
        display: none;
    }
}
