@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/mixins/breakpoints";
@import "utilities/swatch";
@import "components/categoryTiles";
@import "~productcompare/product/comparison";

.fixed {
    position: fixed;
}

.refinement-bar {
    overflow: auto;

    &.show {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
    }

    ul {
        padding-left: 0;
    }

    @include media-breakpoint-down(sm) {
        background-color: $white;
        box-shadow: 0 0.313em 0.938em rgba(0, 0, 0, 0.5);
        display: none;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    @include media-breakpoint-down(xs) {
        position: fixed;
        height: 100%;
    }

    @include media-breakpoint-up(md) {
        display: block !important;
    }
}

.filter-header {
    margin-left: $grid-gutter-width / 2 * -1;
    margin-right: $grid-gutter-width / 2 * -1;

    .pull-right {
        &.close {
            span {
                display: none;
            }

            .fa-times-circle {
                font-size: 2rem;
            }
        }
    }
}

.filter-footer {
    button.close {
        border: 1px solid #1976d3;
        font-size: 0.875rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        padding: 0.75rem 1rem;
        margin: 0.75rem 0 3rem;

        @include media-breakpoint-up(md) {
            display: none;
        }
    }
}

.header-bar {
    background-color: $white;
    border-bottom: 0.063em solid $gray-400;

    button.close {
        font-size: 1rem;
        font-weight: normal;
        opacity: 1;
    }

    .fa.fa-close::before {
        font-size: 1.25em;
    }

    @include media-breakpoint-only(sm) {
        padding: 0.938em 2.813em;
    }

    @include media-breakpoint-only(xs) {
        padding: 0.938em;
    }
}

.refinements {
    .header,
    .values {
        padding: 0.313em 0;

        @include media-breakpoint-only(sm) {
            li {
                display: inline-block;
            }
        }
    }

    .header {
        font-size: 1.125em;
        color: $dark-gray;
    }

    ul {
        overflow: auto;

        li {
            padding-left: 1px;

            button {
                border: none;
                cursor: pointer;
                color: $grey4;
                background-color: transparent;

                &:hover {
                    color: $black;
                }

                .fa-check-circle {
                    color: $black;
                }
            }
        }
    }

    li {
        list-style-type: none;
        padding-left: 0;

        &.color-attribute {
            display: inline-block;
            padding-left: 0;

            button {
                border: 1px solid $white;
                border-radius: 1.5em;
                color: $white;
                padding: 1px;

                &:hover {
                    border-color: $black;
                }

                span {
                    height: 2rem;
                    width: 2rem;

                    &.swatch-mark.color-value.selected {
                        ::after {
                            left: 0.26em;
                            top: 0.27em;
                        }
                    }
                }
            }
        }

        &.disabled {
            opacity: 0.5;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                border-top: 2px solid $red;
                width: 32px;
                transform: rotate(45deg);
                transform-origin: 0% 0%;
                left: 8px;
                top: 6px;
            }
        }
    }

    @include media-breakpoint-down(xs) {
        padding: 0;
    }

    .card-body {
        padding: 0;

        li {
            margin-bottom: 0.5rem;

            span {
                &:not(.checkbox) {
                    color: $grey4;

                    &:hover {
                        color: $black;
                    }
                }

                &.selected {
                    color: $black;
                }
            }
        }
    }

    .card-header h2 {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        margin-bottom: 0;

        &::after {
            float: right;
            font-family: "FontAwesome";
            content: "\F068";
        }
    }

    .card-header {
        &.collapsed {
            h2 {
                &::after {
                    content: "\F067";
                }
            }
        }
    }
}

.secondary-bar {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1em;
    overflow: auto;

    button.reset {
        color: $brand-success;

        @include media-breakpoint-down(sm) {
            float: right;
        }

        &:hover {
            color: $white;
        }
    }

    @include media-breakpoint-only(sm) {
        padding: 0.938em 2.813em;
    }

    @include media-breakpoint-only(xs) {
        padding: 0.938em;
    }
}

.refinement-header {
    overflow: auto;
}

.disabled {
    pointer-events: none;
}

.grid-header,
.content-grid-header {
    margin-top: 1em;
    margin-bottom: 1em;

    @include media-breakpoint-only(xs) {
        .result-count {
            padding-bottom: 0.938em;
        }

        .filter-results {
            display: block;
            width: 100%;
        }
    }

    select {
        width: 100%;
    }
}

.result-count {
    font-size: 0.875rem;
}

.refinement {
    margin-bottom: 1em;

    @include media-breakpoint-down(sm) {
        &.card {
            border-top: 0 none;
            border-left: 0 none;
            border-right: 0 none;
            border-radius: 0;
            margin-bottom: 0;
        }

        .card-header {
            border-bottom: 0 none;
            padding: 0.25rem 1rem;
        }

        .card-body {
            padding: 0 1rem;
        }
    }

    a {
        text-decoration: none;
    }

    &.refinement-category {
        li {
            margin-left: 0.938em;
            display: block;
        }

        > ul > li {
            margin-left: 0;
        }
    }

    &.refinement-color {
        ul {
            padding: 0.35rem;

            &.moreRefinements {
                li:first-of-type {
                    padding-left: 0.35rem;
                }

                @include media-breakpoint-only(xl) {
                    li:nth-of-type(7n) {
                        padding-left: 0.35rem;
                    }
                }

                @include media-breakpoint-only(lg) {
                    li:nth-of-type(6n) {
                        padding-left: 0.35rem;
                    }
                }

                @include media-breakpoint-only(md) {
                    li:nth-of-type(3n +4) {
                        padding-left: 0.35rem;
                    }
                }
            }
        }

        .viewMore {
            margin-top: -1.5rem;
        }
    }

    &.refinement-size {
        li {
            display: inline-block;
            padding-right: 0;
            width: 32%;
        }
    }
}

.search-keywords {
    font-weight: bold;
}

.filter-bar {
    ul {
        padding-left: $grid-gutter-width / 2;
    }

    li {
        list-style: none;
        float: left;
        margin-left: 0.3125em;
        margin-right: 0.3125em;

        &:first-child {
            margin-left: 0;
        }

        &.filter-value {
            border: 1px solid #ccc;
            padding: 0.3125em;
            border-radius: 3px;
            position: relative;

            button {
                color: black;
                border: none;
                padding: 0 2rem 0 0.5rem;

                &::after {
                    content: "\f00d";
                    font: normal normal normal 14px/1 FontAwesome;
                    text-rendering: auto;
                    position: absolute;
                    right: 10px;
                    top: 11px;
                }
            }
        }

        &.swatch-filter {
            font-size: 1.38em;
            position: relative;
            margin-top: 4px;

            button {
                width: 100%;
                height: 100%;
                display: block;
                border: none;

                &::before {
                    content: "";
                    background-color: white;
                    width: 0.8em;
                    height: 0.8em;
                    border-radius: 0.4em;
                    position: absolute;
                    left: 0.5em;
                    top: 0.5em;
                }

                &::after {
                    content: "\f057";
                    font: normal normal normal 14px/1 FontAwesome;
                    display: inline;
                    text-rendering: auto;
                    position: absolute;
                    left: 0.18em;
                    top: 0.12em;
                    font-size: 1.5em;
                }
            }
        }
    }
}

.tab-content {

    @include media-breakpoint-down(xs) {
        padding-left: 0;
        padding-right: 0;
    }
}

.product-grid {

    @include media-breakpoint-down(xs) {
        padding-top: 0.938em;

        .col-6 {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}

.search-tips {
    text-align: left;
    margin-top: 1.875rem;
}

.category-item {
    margin-bottom: 0.938rem;
}

.show-more,
.show-more-content {
    padding: 0.938em;
    clear: both;
}

.swatch-mark {
    @include swatch-check-mark();
}

.search-nav {
    margin-bottom: 1em;
    border-bottom: 0.063em solid $gray-300;

    .nav-tabs-wrapper {
        padding: 0;

        @include media-breakpoint-down(xs) {
            width: 100%;
        }

        .nav-tabs {
            border-bottom: 0 none;
        }
    }

    .nav-link:focus {
        background-color: $gray-500;
    }
}

.swatch-mark.color-value.selected {
    &::after {
        left: 0.26em;
        top: 0.27em;
    }
}

.product-options .quantity {
    position: absolute;
    bottom: 0;
    right: 0;
}
