# SFRA Patterns

node_modules/
cartridges/**/cartridge/static/**/css/
cartridges/**/cartridge/static/**/js/
cartridges/**/cartridge/static/**/fonts/
coverage/
npm-debug.log
cartridges.zip
.idea/
dw.json
sitegenesisdata/
mobilefirstdata/
storefrontdata/
.DS_Store
test/appium/webdriver/config.json
.vscode
.history
*.iml
.idea

# LRA Patterns

lastbuild.properties
.tern-project
jsconfig.json
.stylelintcache
.eslintcache
.cache-loader/
build_tools/artifacts
build_tools/*.zip
build_tools/tmp/*
build_tools/temp
build_tools/.cache/
data_impex/*.zip

