node_modules/
cartridges/**/cartridge/static/default/css/
cartridges/**/cartridge/static/default/js/
cartridges/**/cartridge/static/default/fonts/
coverage/
npm-debug.log
cartridges.zip
.idea/
build_tools/dw.json
sitegenesisdata/
.DS_Store
test/appium/webdriver/config.json
build_tools/*.zip
data_impex/*.zip
lastbuild.properties
