node_modules/
cartridges/**/cartridge/static/**/css/
cartridges/**/cartridge/static/**/js/
cartridges/**/cartridge/static/**/fonts/
coverage/
npm-debug.log
cartridges.zip
.idea/
.vscode/
sitegenesisdata/
mobilefirstdata/
storefrontdata/
.DS_Store
test/appium/webdriver/config.json
build_tools/artifacts
build_tools/*.zip
data_impex/*.zip
lastbuild.properties
.tern-project
dw.json
jsconfig.json
