.quantity-module {
    .btn.disabled:focus {
        outline: 0;
        box-shadow: none;
    }

    input[type=number] {
        display: inline-block;
        text-align: center;
        min-width: 3em;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}
