@import "bootstrap/scss/functions";

// font-awesome font file locations in relation to target location of the css file.
$fa-font-path: "../fonts";

// flag icons location in relation to target location of the css file.
$flag-icon-css-path: "../fonts/flags/";

//--------------------------------
//  COLORS
//--------------------------------

// Theme colors documentation: https://getbootstrap.com/docs/4.1/getting-started/theming/#theme-colors

// Color Palette

/* Variable names from http://chir.ag/projects/name-that-color */

$white: #fff;
$black: #000;
$blue: #0070d2;
$denim: #1976d3;
$anakiwa: #88c4ff;
$blumine: #1d568e;
$orangepeel: #ff9f00;
$creambrulee: #ffdb9d;
$sapphire: #303e9f;
$cinnabar: #e64a19;
$pinegreen: #00796a;
$japanese-laurel: #046808;
$calypso: #31708f;
$mustard: #ffe353;
$tamarillo: #92110e;
$california: #fe9803;
$pomegranate: #e85118;
$valencia: #d73731;
$picton-blue: #44a7f2;
$indigo: #3b76ca;
$cornflower-blue: #4c93eb;
$daisy-bush: #502ea8;
$cerulean-blue: #2553b5;

// Theme - Main Colors
$primary: $denim;
$primary-light: $anakiwa;
$primary-dark: $blumine;
$secondary: $orangepeel;
$secondary-light: $creambrulee;

// Accent Colors
$accent-1: $sapphire;
$accent-2: $cinnabar;
$accent-3: $orangepeel;
$accent-4: $pinegreen;

// Grey Colors
$grey1: #22252a;
$grey2: #495056;
$grey3: #cfd4da;
$grey4: #e8ecef;
$grey5: #f8f9fb;
$grey6: #f8f9fb;
$grey7: #f8f9fb;
$grey8: #f8f9fb;
$grey-transparent-1: rgba(0, 0, 0, 0.65);
$grey-transparent-2: rgba(0, 0, 0, 0.25);

// Messages & Alerts
$success: $japanese-laurel;
$info: $calypso;
$warning: $mustard;
$error: $tamarillo;

//--------------------------------
//  BACKGROUNDS
//--------------------------------

// BG documentation: https://getbootstrap.com/docs/4.1/utilities/colors/#background-color

// Gradients
// Gradients documentation: https://getbootstrap.com/docs/4.1/utilities/colors/#background-gradient

$enable-gradients: true; // bootstrap override -> must be set to true for gradients to be visible on the site

/* Gradient backgrounds are mixins found in custom gradient mixins file - TODO */

$brand-success: #008827;
$brand-danger: #c00;
$brand-primary: #00a1e0;
$light-gray: $grey4;
$slightly-darker-gray: $grey4;
$dark-gray: $grey5;
$darker-gray: $grey7;
$brand-color: $brand-primary;
$horizontal-rule-grey: $grey3;
$product-number-grey: $grey3;
$horizontal-border-grey: $grey4;
$menu-link: $grey6;
$close-menu-bg: $grey2;
$link-color: $dark-gray;
$hr-border-color: $grey3;

$grid-breakpoints: (
    xs: 0,
    sm: 544px,
    md: 769px,
    lg: 992px,
    xl: 1200px
);

$container-max-widths: (
    md: 720px,
    lg: 940px,
    xl: 1140px
);

$border-radius: 0.1875rem;
$border-radius-lg: $border-radius;
$border-radius-sm: $border-radius;

$alert-danger-bg: $brand-danger;
$alert-success-bg: $brand-success;
$state-danger-text: #fff;
$alert-success-text: #fff;

// Bootstrap overrides
$body-bg: $grey1;
$card-cap-bg: $white;

// Tabs
$nav-tabs-border-width: 0;
$nav-tabs-border-radius: 0;
$nav-tabs-active-link-hover-bg: transparent;

// breadcrumb
$breadcrumb-bg: transparent;

// table border
$table-border-color: $grey3;

$svg-check: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23ff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");

// Slick Carousel Overrides
$slick-arrow-bg-color: transparent;
$slick-arrow-bg-color-hover: transparent;
